// ============================================================================
//                 NAVBAR [ALRGE]
// ============================================================================

.banner {
    position: relative;
    &-bg {
        height:100vh;
        @include mq('xll') {
            height: 80vh;
        }
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &-content {
        article {
            width: 90%;
            max-width: 500px;
            position: absolute;
            top: 150px;
            left: 22px;
            @include mq('md') {
                width: 100%;
                left: initial;
            }
            @include mq('xll') {
                top: 215px;
                max-width: 600px;
            }
            p {
                font-size: em(18px);
                line-height: (32px/18px);
                margin-top: em(20px, 18px);
                @include mq('xll') {
                   font-size: em(28px)
                }
            }

            .btn {
                @extend %top-50;
            }
        }
    }
}